<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>New Task</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
